@model MvcMovie.Models.Flights

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-3 text-center">Details about flight №@Html.DisplayFor(model => model.PlaneId)</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            Duration
        </dt>
        <dd class="col-sm-10">
            @Model.ArrivalTime.Subtract(Model.DepartTime).ToString(@"dd\+hh\:mm\:ss")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaneType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneCapacityNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaneCapacityNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneCapacityBusiness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaneCapacityBusiness)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlreadyReserved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlreadyReserved)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group">
    <a style="display:normal" class="btn btn-outline-primary" role="button" asp-action="Edit" asp-route-id="@Model.PlaneId">Edit</a>
    <a href='@Url.Action("Create", "Reservations")' style="display:normal" class="btn btn-outline-primary" role="button">Book</a>
    <!--<a style="display:normal" class="btn btn-outline-primary" role="button" asp-controller="Reservations" asp-action="Create" asp-route-id="@Model.PlaneId">Book</a>-->
    <a style="display:normal" class="btn btn-outline-primary" role="button" asp-action="Index">Back to list</a>
</div>
